<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAn5q_0tdb5-T8Tt1dkcF4V7_zZXk6u_ts</string>
	<key>GCM_SENDER_ID</key>
	<string>680054496945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wassalni</string>
	<key>PROJECT_ID</key>
	<string>yalla-taxi-336b2</string>
	<key>STORAGE_BUCKET</key>
	<string>yalla-taxi-336b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680054496945:ios:3f6ee089ba4d68f2400c90</string>
	<key>DATABASE_URL</key>
	<string>https://yalla-taxi-336b2-default-rtdb.firebaseio.com</string>
</dict>
</plist>